#modbutton {}

.btn.btn-sign-in {
    background: rgb(0, 19, 129);
    background: linear-gradient(45deg, rgba(0, 19, 129, 1) 20%, rgba(0, 117, 181, 1) 80%);
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 15px 5px 15px;
    line-height: 0;
    margin: 10px 0 0 0;
    border-radius: 3px;
}

.btn.btn-sign-in i {
    margin-top: 5px;
    font-size: 20px;
}

.btn.btn-sign-in span {
    display: table;
    float: right;
    text-align: left;
    margin-left: 10px;
    line-height: 1.2;
}

.btn.btn-sign-in:hover {
    background: rgb(158, 15, 15);
    background: linear-gradient(45deg, rgb(218, 32, 18) 20%, rgb(99, 4, 4) 80%);
    color: #FFF;
}

.btn.btn-orcamento {
    background: rgb(112, 13, 9);
    background: linear-gradient(45deg, rgb(85, 5, 5) 20%, rgb(235, 78, 57) 80%);
    font-size: 24px;
    text-transform: uppercase;
    padding: 15px 30px 10px 30px;
    line-height: 0;
    border-radius: 3px;
    font-weight: 300;
}

.btn.btn-orcamento i {
    margin-top: 10px;
    font-size: 30px;
}

.btn.btn-orcamento span {
    display: table;
    float: right;
    text-align: left;
    margin-left: 10px;
    line-height: 1.2;
}

.btn.btn-orcamento:hover {
    background: rgb(90, 27, 15);
    background: linear-gradient(45deg, rgb(240, 61, 49) 20%, rgb(87, 5, 5) 80%);
    color: #FFF;
}

.orcamento {
    display: table;
    margin: 60px auto;
}

@media screen and (max-width:1200px) {
    .btn.btn-sign-in {
        padding: 3px 10px;
        font-size: 14px;
    }

    .btn.btn-sign-in i {
        font-size: 18px;
    }
}

@media screen and (max-width:1024px) {
    .btn.btn-sign-in {
        padding: 0 5px 5px 5px;
        border: 0;
    }

    .btn.btn-sign-in i {
        font-size: 20px;
    }

    .btn.btn-sign-in span {
        display: none;
    }

    .orcamento {
        margin: 0 auto;
    }

    .btn.btn-orcamento {
        font-size: 18px;
    }

    .btn.btn-orcamento i {
        font-size: 20px;
    }
}